{%extends 'auth/base.html'%} {% import "bootstrap/wtf.html" as wtf %} {% block title%} 登录 {% endblock %} {% block content %}
<div class="container">
    <h1>登录</h1> {% for message in get_flashed_messages() %}


    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{message}}
    </div>
    {% endfor %}
    <div class="col-md-4">

        {{wtf.quick_form(form)}}
        <p>没有账户吗？
            <a href="{{url_for('auth.register')}}">注册</a>
        </p>
    </div>

</div>

{% endblock %}