{%extends 'main/base.html'%} {% import "bootstrap/wtf.html" as wtf %} {% block title%} 有脑洞 {% endblock %} {% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>

    </ol>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{message}}
    </div>
    {% endfor %} {% if current_user.is_authenticated %} {{ wtf.quick_form(form,action='/poststem') }} {% endif %}
    <div class="row">
        <div class="col-md-8">
            {% for stem in stems %}
            <div class="panel panel-default" style='min-height:180px;'>

                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img style='width:64px;border-radius:50%;' class="media-object" src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=523024675,1399288021&fm=27&gp=0.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{stem.user.username}}</h4>
                            {{stem.content}}
                        </div>
                        <div class="media-footer text-center" style='margin-top:20px'>
                            <div class="btn-group" role="group">
                                {% if hpls.filter_by(fromStem_id=stem.id).first() %}
                                <button type="button" class="btn btn-default getPoint" data-stem-id='{{stem.id}}' data-type='cancel'>取消笑点</button> {% else %}
                                <button type="button" class="btn btn-default getPoint" data-stem-id='{{stem.id}}' data-type='getpoint'>Get笑点</button> {% endif%}
                                <button type="button" class="btn btn-default">吐槽</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% if current_user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    个人信息
                </div>
                <div class="panel-body">
                    你是本站第{{current_user.id}}位会员
                </div>
            </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    今日梗最多
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    今日笑点最多
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    今日槽点最多
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>




</div>
{% endblock %} {% block myscript%}
<script>
    $('.getPoint').click(function() {
        var stemid = $(this).data('stem-id');
        var type = $(this).data('type');
        // alert(stemid);
        $.ajax({
            url: 'gethahapoint',
            data: {
                stemid: stemid,
                type: type
            },
            success: function(data) {
                alert(data);
            },
            method: "POST",
        })
    })
</script>
{% endblock%}